.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    color: white;
}

.left-text h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3em;
}

.left-text p {
    font-size: 2em;
}

.left-text {
    margin-left: 20px; /* Adjust as needed for padding */
    font-family: 'Zilla Slab', serif;
}
