.about-me-container {
    display: flex;
    flex-direction: row; /* Align children horizontally */
    justify-content: space-between; /* Space out the children */
    width: 100%; /* Adjust as needed */
    color: white;
}

.left-text, .right-text {
    margin-left: 20px; /* Adjust as needed for padding */
    font-family: 'Zilla Slab', serif;
    flex: 1; /* This ensures that both divs take up equal space */
    padding: 1vw; /* Optional, for some spacing around the content */
}

.left-text h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3em;
}

.left-text p {
    font-size: 2em;
}

.left-text a, .right-text a {
    color: inherit; /* This makes the link color the same as the parent text color */
    text-decoration: none; /* Removes the underline */
    font-size: 2em;
}
