
.radiate-effect {
  position: fixed;
  border-radius: 50%;
  background-color: #2f4355; /* Or any color you prefer */
  transform: scale(0);
  width: 20px; /* Initial size */
  height: 20px;
  animation: radiate 1.5s forwards; /* Adjust duration as needed */
  z-index: 4;
}

@keyframes radiate {
  to {
    transform: scale(200);
    opacity: 1;
  }
}

