/* RectangleLinks.css */
.rectangle-container {
  display: flex;
  flex-wrap: wrap;
  height: 80vh; /* Adjust if you want a different height */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  margin-top: 10vh; /* Pushes the container down to the middle of the viewport */
  margin-left: auto; /* Centers the container horizontally */
  margin-right: auto; /* Centers the container horizontally */
  width: 95%; /* Full width of the container */
  gap: 8px
}
  
/* ClickableArea.css */
.clickable-area {
  flex: 1 1 49%; /* Grow to 1x the size, shrink to 1x the size, base width of 50% */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 50%; /* Each clickable area takes up half the container's height */
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits text color from parent */
  border: 1px solid white; /* Adds border for visual separation */
  color: white;
  border-radius: 10px;
  overflow: hidden;
  white-space: wrap;
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensures it's above other content */
  /* Add additional styling as needed, e.g., setting a max-width for the image */
}

.overlay-image img {
  max-width: 300px;
  width: 20vw;
  height: auto;
  border-radius: 50%; /* This creates the circle effect */
  object-fit: cover; /* This ensures the image covers th
  /* Adjust the size as needed */
}



